/* .App {
  text-align: center;
} */

body {
  margin:0;
  padding: 0;
}

#hue {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  font-family: "Poppins", sans-serif;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





#modalwindow {
  display: flex;
  flex-direction: row;
}

#textarea {
  margin-top: 2vh;
  width: 23vw;
  height: 17vh;
}

.hue {
  margin-top: 2vh;
}



#flower {
  margin-top: 8vh;
  margin-right:3vw;
  margin-left:2vw;
  height:80vh;
  width: auto;
}


.login{
  width: 40vw;
}

.loginWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createContents{
  width: 40vw;
  max-height: 50vh;
}
.createWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gardenContents{
  width: 40vw;
  height: 87vh;
}
.gardenWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse
}
.globalContents{
  margin-top:7vh;
  width: 55vw;
  height: 77vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.globalWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  /* flex-direction: column */
}


#quest-answers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#quest-answers h4 {
  font-size:medium;
}

#quest-one {
  display: flex;
  flex-direction: column;
}
#quest-two {
  display: flex;
  flex-direction: column;
}


#footer {
  flex-direction: row !important;
  position:fixed;
  justify-content: space-between !important;
  height: 7vh;
  width: 100vw;
  bottom: 0;
}


button{
 left: 25vw;
}


#landing{
  height: 40vh;
}
.LightLanding{
  padding-top: 25vh;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}
.DarkLanding{
  padding-top: 25vh;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}
.landingText{
  display: flex;
  flex-direction: row;
}
#landingGlobe{
 height: 45vh;
 padding-bottom: 5vh;
}
