/* .App {
  text-align: center;
} */

body {
  margin:0;
  padding: 0;
}

#hue {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  font-family: "Poppins", sans-serif;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* #flower-outer {
  position: relative; 
} */

/* #flower-outline {
  width:33.3vw;
  z-index: -9999;
  position: absolute;
top: 33%;
left: 33%;
} */



/* ---------navbar css------------ */

#navbar {
  display: flex;
  flex-direction: row;
  width: 100vw; 
  justify-content: space-between;
  position: absolute;
  top: 0;
  
}
#navbarlight {
  display: flex;
  flex-direction: row;
  width: 100vw; 
  justify-content: space-between;
  position: absolute;
  top: 0;
}

#navflower,
#navspiral,
#navglobe {
  height: 13vh;
}

/* 
--------------modal window css---------- */

#modalwindow {
  display: flex;
  flex-direction: row;
}

#textarea {
  margin-top: 2vh;
  width: 23vw;
  height: 17vh;
  /* margin-bottom: 0  */
}

/* .hue-hover-zoom-point-zoom {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
} */

.hue {
  margin-top: 2vh;
}



#flower {
  margin-top: 8vh;
  margin-right:3vw;
  margin-left:2vw;
  height:80vh;
  width: auto;
}


.login{
  width: 40vw;
}

.loginWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createContents{
  width: 40vw;
  max-height: 50vh;
}
.createWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gardenContents{
  width: 40vw;
  height: 87vh;
}
.gardenWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse
}
.globalContents{
  margin-top:7vh;
  width: 55vw;
  height: 77vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.globalWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  /* flex-direction: column */
}


/* .createflowerwrapper {
  width:100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

#quest-answers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#quest-answers h4 {
  font-size:medium;
}

#quest-one {
  display: flex;
  flex-direction: column;
}
#quest-two {
  display: flex;
  flex-direction: column;
}


#footer {
  flex-direction: row !important;
  position:fixed;
  justify-content: space-between !important;
  height: 7vh;
  width: 100vw;
  bottom: 0;
}

a {
  /* width: 14vw; */
}

button{ 
 left: 25vw;
}

#okLogo{
  /* width: 10vw; */
  /* height:100vh; */
}

/* 
FONT SELECTIONS
font-family: 'Karla', sans-serif; ----- BODY
font-family: 'Poppins', sans-serif; -----HEADER */ 

/* -----landing page-----  */

#landing{
  height: 40vh;
}
.LightLanding{
  padding-top: 25vh;
  display: flex;
  flex-direction: row;
  width: 100vw; 
  justify-content: space-between;
}
.DarkLanding{
  padding-top: 25vh;
  display: flex;
  flex-direction: row;
  width: 100vw; 
  justify-content: space-between;
}
.landingText{
  display: flex;
  flex-direction: row;
}