.Layout {
  .navbar {
    &.bg-dark {
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: black !important;
      border-bottom: 1px solid white !important;
    }
    color: white;
    a {
      color: white;
    }
    .nav-link {
      color: white !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
