.Create {
  .btn {
    margin-right: 1rem;
  }

  .petal {
    cursor: pointer;

    stroke: #000000;

    &.active {
      stroke: lightgreen;
    }

    &:hover {
      fill-opacity: 75%;
    }
  }

  svg {
    cursor: pointer;
    width: 25vh;
    margin: 0 auto;
  }

  .buttonRow {
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .right-button {
    text-align: right;
  }

  @media only screen and (max-width: 720px) {
    svg {
      height: 25vw;
    }

    .hue {
      width: 75% !important;
    }
  }
}
