.Create {
  .btn {
    margin-right: 1rem;
  }

  .petal {
    cursor: pointer;

    &:hover {
      fill-opacity: 75%;
    }
  }

  svg {
    cursor: pointer;
    margin-left: -1rem; // HACK WARNING THE SVG ISNT CENTERED IN ITS CONTAINER
    width: 30vh;
  }

  .buttonRow {
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .right-button {
    text-align: right;
  }

  @media only screen and (max-width: 720px) {
    svg {
      height: 25vw;
    }
  }
}
