/* svg {
  enable-background: "new 0 0 537 426";
} */

#flower-wrap {
  width: 1300px;
  height: 1300px
}

#prefix__peaks, #prefix__aspiration{
  enable-background: "new 0 0 537 426"
}

.st0 {
  fill: #010101;
}

