.Connect {
  &.light {
    .row {
      a {
        color: black !important;
      }
    }

    .inp {
      border-bottom: 1px solid black;
      color: black;
    }

    ::placeholder {
        color: black;
        font-style: italic;
    }
  }

  &.dark {
    .row {
        a {
        color: white !important;
        }
    }

    .inp {
        border-bottom: 1px solid white;
        color: white;
    }

    ::placeholder {
        color: white;
        font-style: italic;
    }
  }

  margin-top: 2rem;

  img {
    height: 30px;
  }

  @media only screen and (max-width: 720px) {
    .flower-col {
      margin-bottom: 60px;
    }

    .view-friends-search-container {
      display: flex;
      justify-content: center;
      border: 2px solid;
      padding: 15px 10px;
      background-color: rgba(44, 44, 44, 0.82);

      .inp {
          width: 310px;
          text-align: center;
      }
    }

    .inp {
      margin-left: 10px;
      padding: 0 !important;
      border: none;
      padding: 5px 10px;
      background-color: transparent;
      outline: none;
      width: 260px;
      text-align: center;
    }

    .set-bad-email-error {
      color: red;
      margin-top: 10px;
    }

    .set-show-success {
      color: green;
      margin-top: 10px;
    }
    
    .tabs-container {
      display: flex;
      border-bottom: 1px solid;
      justify-content: center;
    }

    .tab-child {
      display: flex;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      padding: 5px 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-right: 1px solid;
      border-left: 1px solid;
      border-top: 1px solid;
    }

    .add-friends-tab {
      margin-left: 20px;
      margin-right: 20px;
    }

    .invite-container {
      display: flex;
      justify-content: space-between;
      width: 200px;
    }

    .add-friend-container {
      font-size: 18px;
      position: relative;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0px;
    }

    .email-input-container {
      margin-bottom: 30px;
    }

    .box {
      text-align: center;
      position: relative;
      padding: 5px 20px;
    }
    
    .box:before {
      content: "";
      position: absolute;
      border: 1px solid;
      
      top: -4%; bottom: -11%; left: -3%; right: -3%;
      z-index: -1;
    
      -webkit-transform: perspective(50em) rotateX(-30deg);
      transform: perspective(5em) rotateX(-30deg);
    }

    .add-btn-container {
      display: flex;
      justify-content: space-between;
      width: 60px;
    }

    .invite-btn-container {
      display: flex;
      justify-content: space-between;
      width: 70px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
    }
    
    td, th {
      border: 1px solid;
      text-align: center;
      padding: 8px;
    }

    .type-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .clear-notifications-container {
      display: flex;
      width: 135px;
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;
      font-weight: lighter;


      div {
        border: 1px solid;
        height: 18px;
        width: 18px;
      }
    }

    .fr-row {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .nf-row {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      img {
        margin-top: 10px;
      }
    }

    .friend-request-container {
      display: flex;
      width: 155px;
      justify-content: space-around;
      align-items: center;
      font-weight: lighter;


      div {
        cursor: pointer;
        font-size: 14px;
        border: 1px solid;
        padding: 2px 8px;
        margin-top: 10px;
      }
    }
  }

  @media only screen and (min-width: 721px) and (max-width: 1160px) {
    .flower-col {
      margin-bottom: 60px;
    }

    .view-friends-search-container {
      display: flex;
      justify-content: center;
      border: 2px solid;
      padding: 15px 0px;
      background-color: rgba(44, 44, 44, 0.82);

      .inp {
          width: 310px;
          text-align: center;
      }
    }

    .inp {
      margin-left: 10px;
      padding: 0 !important;
      border: none;
      padding: 5px 10px;
      background-color: transparent;
      outline: none;
      width: 260px;
      text-align: center;
    }

    .set-bad-email-error {
      color: red;
      margin-top: 10px;
    }

    .set-show-success {
      color: green;
      margin-top: 10px;
    }
    
    .tabs-container {
      display: flex;
      border-bottom: 1px solid;
      justify-content: center;
    }

    .tab-child {
      font-size: 20px;
      cursor: pointer;
      padding: 10px 30px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-right: 1px solid;
      border-left: 1px solid;
      border-top: 1px solid;
    }

    .add-friends-tab {
      margin-left: 60px;
      margin-right: 60px;
    }

    .invite-container {
      display: flex;
      justify-content: space-between;
      width: 200px;
    }

    .add-friend-container {
      font-size: 18px;
      position: relative;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0px;
    }

    .email-input-container {
      margin-bottom: 30px;
    }

    .box {
      text-align: center;
      position: relative;
      padding: 5px 20px;
    }
    
    .box:before {
      content: "";
      position: absolute;
      border: 1px solid;
      
      top: -4%; bottom: -11%; left: -3%; right: -3%;
      z-index: -1;
    
      -webkit-transform: perspective(50em) rotateX(-30deg);
      transform: perspective(5em) rotateX(-30deg);
    }

    .add-btn-container {
      display: flex;
      justify-content: space-between;
      width: 60px;
    }

    .invite-btn-container {
      display: flex;
      justify-content: space-between;
      width: 70px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid;
      text-align: center;
      padding: 8px;
    }

    .type-header {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .clear-notifications-container {
      position: absolute;
      right: 0;
      margin-right: 10px;
      display: flex;
      width: 155px;
      justify-content: space-between;
      align-items: center;
      font-weight: lighter;


      div {
        border: 1px solid;
        height: 18px;
        width: 18px;
      }
    }

    .fr-row {
      display: flex;
      justify-content: center;
    }

    .nf-row {
      cursor: pointer;
      position: relative;

      img {
        position: absolute;
        right: 60px;
        top: 5px;
        margin-right: 10px;
      }
    }

    .friend-request-container {
      right: 0;
      margin-right: 10px;
      display: flex;
      width: 155px;
      justify-content: space-around;
      align-items: center;
      font-weight: lighter;


      div {
        cursor: pointer;
        font-size: 14px;
        border: 1px solid;
        padding: 2px 8px;
      }
    }
  }

  @media only screen and (min-width: 1161px) {
    .flower-col {
      margin-bottom: 60px;
    }

    .view-friends-search-container {
      display: flex;
      justify-content: center;
      border: 2px solid;
      padding: 15px 0px;
      background-color: rgba(44, 44, 44, 0.82);

      .inp {
          width: 310px;
          text-align: center;
      }
    }

    .inp {
      margin-left: 10px;
      padding: 0 !important;
      border: none;
      padding: 5px 10px;
      background-color: transparent;
      outline: none;
      width: 260px;
      text-align: center;
    }

    .set-bad-email-error {
      color: red;
      margin-top: 10px;
    }

    .set-show-success {
      color: green;
      margin-top: 10px;
    }
    
    .tabs-container {
      display: flex;
      border-bottom: 1px solid;
      justify-content: center;
    }

    .tab-child {
      font-size: 20px;
      cursor: pointer;
      padding: 10px 30px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-right: 1px solid;
      border-left: 1px solid;
      border-top: 1px solid;
    }

    .add-friends-tab {
      margin-left: 60px;
      margin-right: 60px;
    }

    .invite-container {
      display: flex;
      justify-content: space-between;
      width: 200px;
    }

    .add-friend-container {
      font-size: 18px;
      position: relative;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0px;
    }

    .email-input-container {
      margin-bottom: 30px;
    }

    .box {
      text-align: center;
      position: relative;
      padding: 5px 20px;
    }
    
    .box:before {
      content: "";
      position: absolute;
      border: 1px solid;
      
      top: -4%; bottom: -11%; left: -3%; right: -3%;
      z-index: -1;
    
      -webkit-transform: perspective(50em) rotateX(-30deg);
      transform: perspective(5em) rotateX(-30deg);
    }

    .add-btn-container {
      display: flex;
      justify-content: space-between;
      width: 60px;
    }

    .invite-btn-container {
      display: flex;
      justify-content: space-between;
      width: 70px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid;
      text-align: center;
      padding: 8px;
    }

    .type-header {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .clear-notifications-container {
      position: absolute;
      right: 0;
      margin-right: 10px;
      display: flex;
      width: 155px;
      justify-content: space-between;
      align-items: center;
      font-weight: lighter;


      div {
        border: 1px solid;
        height: 18px;
        width: 18px;
      }
    }

    .fr-row {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .nf-row {
      cursor: pointer;
      position: relative;

      img {
        position: absolute;
        right: 60px;
        top: 5px;
        margin-right: 10px;
      }
    }

    .friend-request-container {
      position: absolute;
      right: 0;
      margin-right: 10px;
      display: flex;
      width: 155px;
      justify-content: space-around;
      align-items: center;
      font-weight: lighter;


      div {
        cursor: pointer;
        font-size: 14px;
        border: 1px solid;
        padding: 2px 8px;
      }
    }
  }
}
